---
import ThemeToggle from "./ThemeToggle.astro";
import { siteConfig } from "../site.config";
---

<header class="site-header">
  <div class="wrap">
    <a class="brand" href="/">{siteConfig.title}</a>
    <nav class="site-nav">
      {
        siteConfig.nav.map((item) => (
          <a href={item.href}>
            <span data-lang="en">{item.en}</span>
            <span data-lang="zh">{item.zh}</span>
          </a>
        ))
      }
      <ThemeToggle />
    </nav>
  </div>
</header>
